.main__button {

@include button;

  &:hover,
  &:focus {
    background-color: var(--bg-button-hover);
  }
}

.menu-button {
  
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: fill ;

  @include mq(tablet) {
    display: none;
  }

  &:hover,
  &:focus {
    fill: var(--hover-blue);
    cursor: pointer;
  }

  padding: 10px 0;

  & .icon-close {
    display: none;
  }

    &.is-open .icon-close {
      display: block;
    }
  
    &.is-open .icon-menu {
      display: none;
    }

}