
.menu-button {

    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    transition: fill var(--transition-timing-function);

    @include mq(tablet) {
        display: none;
    }

    &:hover,
    &:focus {
        fill: var(--accent-color);
        cursor: pointer;
    }

    padding: 10px 0;

    & .icon-close {
        display: none;
    }

    &.is-open .icon-close {
        display: block;
    }

    &.is-open .icon-menu {
        display: none;
    }

}
.mobile-menu {
    display: none;

    @include mq(mobile-only) {
       
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        padding: 48px 40px;

        background-color: var(--bg-color);

        &.is-open {
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
        }
    }
}

.mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
}

.mobile-menu__link {
font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--main-color);

    transition: color var(--transition-timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    &--current {
       
        color: var(--accent-color); }
    }

.mobile-menu__contacts {
    margin-top: auto;
    margin-bottom: 64px
}

.mobile-menu__contacts-item:not(:last-child) {
    margin-bottom: 32px;
}

.mobile-menu__contacts-link {
    
  
        font-weight: 500;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var(--third-main-color);
    
        transition: color var(--transition-timing-function);
    
        &:hover,
        &:focus {
            color: var(--accent-color);}
                        font-size: 34px;
                        line-height: 1.17;
}

.mobile-menu__socials {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;

}

.mobile-menu__social-item {
    position: relative;
    font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
           
        letter-spacing: 0.02em;
    
        color: var(--accent-color);
    
}

.mobile-menu__social-item:not(:last-child)>.mobile-menu__social-link::after {
    position: absolute;
    content: "";
    height: 22px;
    width: 1px;
    top: 0;
    right: -10px;
    background-color: rgba(33, 33, 33, 0.2);

}

